*{
	padding:0px;
}

body{
	 background-image: linear-gradient(to right, #5f4e85 , #4b87e7);
}

.modal{
	margin:0 auto;
	margin-top:6%;
	padding-left: 15px;
    padding-right: 12px;
	display:flex;
	flex-direction:column;
  width: 486px;
  height: 520px;
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
  background-color:#f5f8fc;
}

.modal-header{
	padding-top:13px;
	display:flex;
	flex-direction:column;
}

.modal-header h2{
 height: 31px;
    font-family: 'Open Sans', arial;
  font-size: 41px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.27;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.modal-body form{
	display:flex;
	flex-direction:column;
	margin:0 auto;
}


form .footer{
  padding-top:41px;
  margin:0 auto;
  padding-bottom:55px;
}
.modal-body form .form-label{
  display:flex;
  flex-direction:column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.79;
  letter-spacing: -0.1px;
  text-align: left;
  color: #212121;
  margin:0 auto;
  padding-top:31px;
}

form input[type=text]{
	    margin-top: 26px;
  width: 439px;
  height: 42px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  padding-left:9px;
   font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.79;
  letter-spacing: -0.1px;
  color: #bdbdbd;
}

form input[type=submit]{
	border:0px;
	margin:0 auto;
	margin-top:50px;
	 width: 450px;
  height: 51px;
  background-color: rgb(80, 145, 231);
font-family: 'Open Sans', arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
    
}

form .label-footer{
	    font-family: 'Roboto', sans-serif;

  font-size: 16px;
      font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #212121;
  margin-right:170px;
}


input[type=checkbox], input[type=radio] {display: none;}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
        font-size: 15px;
    line-height: 15px;
    margin: -5px 5px 0 0;
	
	 width: 13px;
  height: 14px;
  border-radius: 3px;
  border: solid 1px #b6c2ce;
  background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #000;
}

.forgot-lnk{
	 font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0091ea;
  text-decoration:none;
}

.forgot-lnk:hover{

 text-decoration:underline;
}
